<% layout('layouts/login') -%>
    <form method="post" action="/forgot_password" role="form" class="text-center " id="forgot-pass-form">
        <div class="form-group m-b-0">

            <div class="form-group ">
                <div class="col-12">
                    <input type="email" class="form-control" name="email" placeholder="Email Address" autocomplete="off">
                    <div class="text-danger email w-100"></div>
                </div>
            </div>
            <div class="form-group text-center m-t-40">
                <div class="col-12">
                    <button type="submit" class="btn btn-pink w-sm waves-effect waves-light">
                        Reset
                    </button>
                </div>
            </div>
            <br />
            <p><a href="/login" class="text-small login text-black">Back to Login</a></p>
        </div>
    </form>