<% layout('layouts/login') -%>
    <form class="form-horizontal m-t-20" id="reset-pass-form">

        <div class="form-group ">
            <div class="col-12">
                <input class="form-control" type="password" placeholder="New password" name="password" id="password"
                    autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                <div class="text-danger password w-100"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-12">
                <input class="form-control" type="password" placeholder="Confirm new password" name="confirmPassword"
                    autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                <div class="text-danger confirmPassword w-100"></div>
            </div>
        </div>


        <h6 style="color:red">Note:</h6>
        <p style="text-align:justify">Password must contain 8 characters with combination of special Symbol and Capital
            letters and digits.</p>
        <div class="form-group text-center m-t-40">
            <div class="col-12">
                <button class="btn btn-pink btn-block text-uppercase waves-effect waves-light" type="submit">
                    Submit
                </button>
            </div>
        </div>

    </form>