<!---------------------Change password model-------------------->
<div id="change-pass-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header m-t-10">
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <div class=" flash-message-modal">
                </div>
                <form class="forms-sample" id="change-password">
                    <div class="row">
                        <div class="form-group col-lg-12  ">
                            <div class=" col-form-label">
                                <label for="oldPassword">Old Password<span class="text-danger">*</span></label>
                            </div>
                            <div class=" input-group ">
                                <input type="text" name="oldPassword" class="form-control">
                                <div class="text-danger oldPassword w-100"></div>

                            </div>
                        </div>
                        <div class="form-group col-lg-12  ">
                            <div class=" col-form-label">
                                <label for="password">New Password<span class="text-danger">*</span></label>
                            </div>
                            <div class=" input-group ">
                                <input type="text" name="password" class="form-control" id="password">
                                <div class="text-danger password w-100"></div>

                            </div>
                        </div>
                        <div class="form-group col-lg-12 ">
                            <div class=" col-form-label">
                                <label for="confirmPassword">Confirm Password<span class="text-danger">*</span></label>
                            </div>
                            <div class=" input-group ">
                                <input type="text" name="confirmPassword" class="form-control">
                                <div class="text-danger confirmPassword w-100"></div>

                            </div>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect  col-lg-3 m-l-10 ">
                            Submit
                        </button>
                        <button type="button" class="btn btn-default waves-effect col-lg-3 m-l-10"
                            data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div><!-- /.modal -->