<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Barber">
        <meta name="author" content="Konstant">

        <link rel="shortcut icon" href="/images/favicon.png">

        <title>   <%= process.env.SITE_TITLE %></title>

        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/core.css" rel="stylesheet" type="text/css" />
        <link href="/css/components.css" rel="stylesheet" type="text/css" />
        <link href="/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="/css/responsive.css" rel="stylesheet" type="text/css" />
    </head>
    <body>

    	<div class="account-pages"></div>
		<div class="clearfix"></div>
		
        <div class="wrapper-page">
            <div class="ex-page-content text-center">
                <div class="text-error"><span class="text-primary">4</span><i class="ti-face-sad text-pink"></i><span class="text-info">4</span></div>
                <h2>Who0ps! Page not found</h2><br>
                <p class="text-muted">This page cannot found or is missing.</p>
                <p class="text-muted">Use the navigation above or the button below to get back and track.</p>
                <br>
                <a class="btn btn-success" href="/"> Return Home</a>
                
            </div>
        </div>

        
    	<script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/detect.js"></script>
        <script src="/js/fastclick.js"></script>
        <script src="/js/jquery.slimscroll.js"></script>
        <script src="/js/jquery.blockUI.js"></script>
        <script src="/js/waves.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/jquery.nicescroll.js"></script>
        <script src="/js/jquery.scrollTo.min.js"></script>


        <script src="/js/jquery.core.js"></script>
        <script src="/js/jquery.app.js"></script>
	
	</body>
</html>